@font-face {
    font-family: 'itc_zapf_dingbats_stdregular';
    src: url('zapfdingbatsstd-webfont.eot');
    src: url('zapfdingbatsstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('zapfdingbatsstd-webfont.woff') format('woff'),
         url('zapfdingbatsstd-webfont.ttf') format('truetype'),
         url('zapfdingbatsstd-webfont.svg#itc_zapf_dingbats_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}