/* general.scss */

// relatives aux balises générales

html {}

div {
	//background-color: white;
}

p, li {
	word-wrap: break-word;
	hyphens: auto;
}

h2 {
	//text-align: center;
	margin-top: 1.5em;
}

/*
#points-de-vente div:not(:first-of-type) {
	border-top : 1px solid black;
	//margin-top: 0.5em;
}
*/

#points-de-vente h2{
	margin-bottom: 1.5em;
}

#points-de-vente li:not(:first-of-type) {
	margin-top: 1em;
}

/*
#commander div:first-of-type {
	border-top: 1px solid black;
}
*/

.centrer {
	text-align: center;
}

// relatif au conteneur

#conteneur {
	display: none;
	width: 100%;
	height: 100%;
	padding: $blanc-de-tete $grand-fond $blanc-de-pied $petit-fond;
}

// relatif au flux de texte

#flux-textes {
	//background-color: lime;
	width: 100%;
	height : 100%;
}

.border-bottom {
	border-bottom : 1px solid black;
}

// relatif aux images ne s'affichant qu'en format mobile

.bloc + .diaporama{
	display: none;
}

// propriétés générales et utiles

.display-none {display:none;}

#actualités {
	transform-origin: 100% 0%;
	transform: rotate(-3deg);
}
.colonne li, .colonnes li, .colonne h3, .colonnes h3{
	//transform-origin: 100% 0%;
	//transform: rotate(-3deg);
	
}