/* mediaqueries.scss */

@media screen and (max-width: $breakpoint) {
	//html {color:lime;}
	#navigation { display:none;}

	.bloc { display: block;}

	.colonne, .colonnes {
		float:none;
		display:block;
	}

	.une, .deux, .trois, .quatre {
		width: 100%;
	}

	.prefix-1, .prefix-2, .prefix-3 {
		margin-left: 0;
	}

	#informations-generales li {
		border-bottom : 1px solid black;
	}

	#informations-generales li:first-of-type {
		border-top : 1px solid black;
	}

	h1, h2, h3, h4, h5, h6, li {
		text-align: center;
	}
}

@media screen and (max-height: 400px) {
	html {color:lime;}

	.bloc { background-color:red;}

	#navigation {
		left: -250px; //fallback
		left: -webkit-calc(-272px + #{$marge_exterieure});
		left: -moz-calc(-272px + #{$marge_exterieure});
		left: calc(-272px + #{$marge_exterieure});
	}

	#menu {
		width:300px;
	}

	#menu .col:nth-of-type(2) p:nth-of-type(-n+2) {
		display:none;
	}
	#menu .col:nth-of-type(2) {
		position: relative;
		left: -1.7em;
		top: 1.5em;
	}
}
