/* navigation.scss */

#navigation {
	position : fixed;

	top:0;

	left: -180px; //fallback
	left: -webkit-calc(-201px + #{$grand-fond});
	left: -moz-calc(-201px + #{$grand-fond});
	left: calc(-201px + #{$grand-fond});

	width: 500px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#navigation * {margin:0;padding:0;}

#menu {
	position: relative;
	width: 400px;
	margin: auto;
}

.col:first-of-type, .col:nth-of-type(2) {
	position: absolute;
}
.col:first-of-type{
	right:0;
	text-align: right;
}
.col:last-of-type{
	text-align: center;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	position:relative;
	top:-0.7em;
	left: 1.25em;
}
.col:nth-of-type(2){
	left:0;
}

#menu .contenu hr {
	width: 2em;
	margin:0 auto;
	border: none;
	border-top: 1px solid black;
}

// recalage

//on recentre le « n° »
#menu .contenu p:first-of-type {
	position: relative;
	left: 0.22em;
}

//recallage de la flêche
#menu .contenu p:nth-of-type(2) {
	position: relative;
	top: -0.14em;
}