/* typographie_et_couleurs */

// corps de texte principal, couleur de fond, numéros dans le menu

html {
	background-color: $couleur-fond;
}
html, #menu .contenu p a {
	font: #{$corps-de-texte-corps}/#{$corps-de-texte-interlignage} $corps-de-texte-fonte, sans-serif;
	color: $couleur-caracteres;
}

//liens

a {
	color: $couleur-caracteres;
	text-decoration: none;
}
a:link {
  color: $couleur-liens;
  text-decoration: underlined;
}
.bloc a:link:after {
	content: "www";
	margin-left:0.1em;
	vertical-align: super;
	line-height: 0;
	font-size: 0.5em;
}
/*
.bloc a:hover {
	color: white; //$couleur-liens-hover;
	background-color: black;
	margin: -0.1em -0.17em;
	padding: 0.1em 0.17em;
}
.bloc a:link:hover:after {
	content: "web";
}

a.active:before { content: "— ";}
a.inactive { color: $couleur-caracteres}
a.inactive:hover { color: $couleur-liens-hover}

a.active { color: $couleur-caracteres}
a.inactive { color: $couleur-liens-hover}
a.inactive:hover { color: $couleur-caracteres}
*/

// style secondaire = titrage et navigation, crédits

h1, h2, h3, h4, h5, h6, #navigation, p.credits {
	font: #{$titrage-corps}/#{$titrage-interlignage} $titrage-fonte, sans-serif;
}
h3 { font-style: italic; }

#points-de-vente ul li:hover {
	background-color: black;
	color: white;
	margin: -0.1em -0.17em;
	padding: 0.1em 0.17em;
}

#points-de-vente ul li:hover:not(:first-of-type) {
	margin: 0.9em -0.17em -0.1em -0.17em;
}

#points-de-vente ul li:hover a {
	color: white;
}
#points-de-vente ul li:hover a:hover {
	color: #666;
	background-color: auto;
}


// éléments généraux

ul {
	list-style: none;
	padding:0;
}