/* _typography_and_colors.scss */

@import '_fontface_swift.scss';
@import '_fontface_bitstream_vera.scss';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: 1em/1.5 "Swift",sans-serif;
}
.swift_extra_bold {
	font-family: 'Swift extra bold';
}
.swift_extra_bold_italic {
	font-family: 'Swift extra bold italic';
}
.swift_bold {
	font-family: 'Swift bold';
}
.swift_bold_italic {
	font-family: 'Swift bold italic';
}
.swift_italic {
	font-family: 'Swift italic';
}

.georgia {
	font-family: 'georgia';
}

.vera {
    font-family: 'Bitstream Vera Serif';
}