/* variables.scss */

// mise en page

// marge avec les limites de la fenetre

$grand-fond : 4%;
$petit-fond : 4%;
$blanc-de-tete : 1%;
$blanc-de-pied : 4%;

$gouttiere : 2%;

$breakpoint : 499px;
$breakpoint-intermediaire : 875px;

// typographie

$corps-de-texte-fonte : "namo-font-bold";
$corps-de-texte-corps : 28px;
$corps-de-texte-interlignage : 36px;

$titrage-fonte : "namo-font-bold";
$titrage-corps : 18px;
$titrage-interlignage : 24px;

// couleurs

$couleur-caracteres : black;
$couleur-liens : black;
$couleur-liens-hover : #666;

$couleur-fond : #f5f5f5;