/* variables.scss */

// mise en page

$marge_exterieure : 4%; // marge avec les limites de la fenetre

$gouttiere : 1%;

// typographie

$corps-de-texte-fonte : "namo-font-bold";
$corps-de-texte-corps : 28px;
$corps-de-texte-interlignage : 36px;

$titrage-fonte : "namo-font-bold";
$titrage-corps : 18px;
$titrage-interlignage : 24px;

// couleurs

$couleur-caracteres : black;

$couleur-fond : #fff;